{{> header }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About Page</h1>
        <p>Lorem ipsum...</p>
    </div>
    <div class="col-4">
        <img src="assets/img/avatar.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}